@charset "utf-8";
html{box-sizing: border-box}
		.wrapper{
			
			background-image:url("images/Body2.png");
			background-repeat: no-repeat;
			width: 1900px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 25px;
		}
		header{
			height: 500px;
			background-image:url("images/Header.png");		
		}
		nav{
			color: #fff;
			overflow: hidden;
			width: 100%;
		}
		li{
			margin-left: auto;
			margin-right: auto;
			list-style-type: none;
			padding-right: 40px;
			font-size: 30px;
		}
*, *:before, *:after{
	box-sizing:inherit;
}
*{
margin:0;
padding: 0;
}
header {
	padding-top:50px;
width: 1900px;
height: 150px;
border-radius: 25px 25px 0px 0px;
background-color:cadetblue;
text-align: center;
}
img {
vertical-align:middle;
}
nav {
margin: 0;
padding-top: 20px;	
width: 1900px;
height: 90px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li {
padding-left:5px;
padding-right: 4px;
display: inline;
font-size: 25px;
}
nav ul li a {
padding: 3px;
text-decoration: none;
color:red;
background-color:black;
}
table
{
border: 1px solid black;
}
footer {
clear: both;
width: 1900px;
height: 220px;
border-radius: 0px 0px 25px 25px;
background-color:black;
text-align: center;
background-image:url("images/Footer.png");
font-size: 35px;
	text-padding:5px;
padding-top:15px;
color: aliceblue;
}
h1 {
color: #DF1F1F;
text-align: center;
font-family: "Marcellus SC";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
footer h2 {
image-align:left;
color: antiquewhite;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
	text-align: center;
}
p{
color: white;
}
main section p {
width: 299px;
height: 300px;
color: white;
font-family: "Marcellus SC";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides{
	display: none;
}
.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align:center; 
}
.numbertext{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.prev,.next{
	cursor: pointer;
	position: absolute;
	top:50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next{
	right:0;
	border-radius: 3px 0 0 3px;
}
.perv:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}
.fade{
	animation-name:fade;
	animation-duration:1.5s;
}
@keyframes fade{
	from{opacity:.4}
	to{opacity: 1}
}footer img {
	float: left;
}